body {
    background: rgb(147, 229, 243);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: Arial, sans-
    serif;
}

#all-contents {
    max-width: 
    800px;
    margin: auto;
}

 /* navitagation menu */
nav {
    background: rgb(242, 48, 9);
    margin: 0 auto;
    display: flex;
    padding: 10px;
    margin-bottom: 
    20px;
}

h1  {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}

#nav-ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     display: flex;
}

.nav-il {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

/* main container are beneath 
menu */
main {
    background: rgb(245, 238,
    219);
    display: flex;
    margin-top: 20px;
}

.sidebar {
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    width: 200px;
}

.content {
    flex: 1;
    padding: 15px;
}

/* interestes section styles */
#interests {
    border: 4px silver 
    ridge;
    padding: 8px;
    margin-bottom: 20px;
}

h2, h3 {
    margin: 0px;
} 

/* portfolio styles */
.content h1 {
    color: black;
}

#portfolio {
    list-style-type:
none;
    padding-left: 0;
}

#portfolio li {
  background: #79c4e6;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#portfolio li:hover {
    background: #eee;
}

#portfolio a { 
    text-decoration: none;
    color: #454545;
}

/* responsive web desing */
@media screen and (min-width: 120px)
and (max-width: 1080px) {
    main {
        height: 100ch;
        zoom: 1.5
        display: grid;
    }

    h1 {
        font-size: 36px;
    }
    #all-contents {
        height: 100ch;
        margin: none;
    }

    a {
        font-size: 42px;
    }

    .sidebar {
        margin-right: 0px;
        justify-content: 
        center;
        align-items: center;
    }